/* BLOCCO LEZIONI */
#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  margin-top: 30px;
  text-align: center;
}
/* END BLOCCO LEZIONI */

/* BLOCCO STEPS */
#steps {
  margin-top: 100px;
  text-align: center;
}
/* END BLOCCO STEPS */

/* BLOCCO PERCHE */
#why {
  margin-top: 100px;
  text-align: center;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}
/* END BLOCCO PERCHE */

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

.internal-margin {
  margin-bottom: 50px;
}
h1 {
  margin-bottom: 25px;
}

h3, hr {
  margin: 30px auto;
}
/* END COMMON */
